{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mystery Code - Blog</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/{% static owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{% static 'img/azimjon.jpg' %}" alt="profile-img.jpg" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="{% url 'index' %}">Azimjon Abdurasulov</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="https://www.facebook.com/azimbekabdurasulov/" target="_blank" class="facebook"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/azim_29_01/" target="_blank" class="instagram"><i
                            class="bx bxl-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/azimjon-abdurasulov-aa10671b3/" target="_blank"
                        class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://github.com/azimxxm" target="_blank" class="github"><i
                            class="bx bxl-github"></i></a>
                    <a href="https://t.me/azim_01_29" target="_blank" class="telegram"><i
                            class="bx bxl-telegram"></i></a>
                </div>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="{% url 'index' %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
                    <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
                    <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->
            <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Azimjon Abdurasulov</h1>
            <p>I'm <span class="typed"
                    data-typed-items="Django Developer, Python Developer, Telegram bot Developer,  Freelancer, Photographer"></span>
            </p>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>About</h2>
                    <p> Hi, my brief description. I graduated from college in 2018 and went to the army for 1 year. I
                        came from the army and started learning programming. Now I know HTML, CSS, JavaScript,
                        Bootstrap, Python, Djengo and Git. I can also work with the Telegram bot api.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="about.jpg">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>IT specialist &amp; Web Developer.</h3>
                        <p class="font-italic">
                            With my vast experience and knowledge in this field, I can say that I have realized that the
                            IT industry requires a lot of study and effort.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 29 January 1999
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.example.com
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +9989 99 409 01 29
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Tashkent Region
                                        Yangiyul City</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 22</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Junior</li>
                                    <li><i
                                            class="icofont-rounded-right"></i><strong>PhEmailone:</strong>www.azim777.com#gmail.com
                                    </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Keeping up with modern technology has become popular in our century. The role of our
                            programmers in the use of these technologies for human life and needs is great. You too can
                            contribute to the future. Do yourself a great job in your field!
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    <h2>Facts</h2>
                    <p>The achievements of our community as well as the benefits it brings to the community. Maybe these
                        figures may seem small Inshallah we will continue to reach heights.</p>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="icofont-simple-smile"></i>
                            <span data-toggle="counter-up">232</span>
                            <p><strong>Happy Clients</strong> consequuntur quae</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="count-box">
                            <i class="icofont-document-folder"></i>
                            <span data-toggle="counter-up">521</span>
                            <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="count-box">
                            <i class="icofont-live-support"></i>
                            <span data-toggle="counter-up">1,463</span>
                            <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="300">
                        <div class="count-box">
                            <i class="icofont-users-alt-5"></i>
                            <span data-toggle="counter-up">15</span>
                            <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>The skills I have acquired during my career. These skills may be lacking for now but I continue
                        to study.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">45%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Photoshop <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill">Python <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Django <i class="val">30%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Nicepage <i class="val">40%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">PostgreSQL <i class="val">30%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>Brief information about me.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>MY BUILD MASTER </h4>
                            <p><em>More than 5 months experience in Python telegram bot, as well as photo and video
                                    editing skills</em></p>
                            <ul>
                                <li>(+71) 702-01-01</li>
                                <li><a href="http://mymaster.uz/" target="_blank">Website</a></li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>HTML &amp; CSS</h4>
                            <h5>2020 - 2021</h5>
                            <p><em><a href="https://www.w3schools.com/">W3schools Online Education</a></em></p>
                            <p><em><a href="https://www.sololearn.com/">Sololearn Online Education</a></em></p>
                            <p>It is a very beautiful and convenient web site or any application. If you have a program
                                that can be processed using CSS, then hurry up and learn CSS, it will be a great
                                pleasure for you.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Python Core</h4>
                            <h5>2021 - 2021</h5>
                            <p><em><a href="https://www.sololearn.com/">Sololearn Online Education</a></em></p>
                            <p>Python Core - I got very good skills in this course. Now I can create small projects for
                                the Windows operating system.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Python for Beginners</h4>
                            <h5>2021 - 2021</h5>
                            <p><em><a href="https://www.sololearn.com/">Sololearn Online Education</a></em></p>
                            <p>The basic Python data structures in Python include list, set, tuples, and dictionary.
                                Each of the data structures is unique in its own way. Data structures are “containers”
                                that organize and group data according to type.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Python Data Structures</h4>
                            <h5>2021 - 2021</h5>
                            <p><em><a href="https://www.sololearn.com/">Sololearn Online Education</a></em></p>
                            <p>The basic Python data structures in Python include list, set, tuples, and dictionary.
                                Each of the data structures is unique in its own way. Data structures are “containers”
                                that organize and group data according to type.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Python web framework Dango</h4>
                            <h5>2020 - 2021</h5>
                            <p><em><a href="https://www.youtube.com/">Other Online Education</a></em></p>
                            <p><em><a href="https://www.djangoproject.com/">Django documentation</a></em></p>
                            <p>Django makes it easier to build better Web apps more quickly and with less code.</p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <!-- <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Senior graphic design specialist</h4>
                            <h5>2019 - Present</h5>
                            <p><em>Experion, New York, NY </em></p>
                            <ul>
                                <li>Lead in the design, development, and implementation of the graphic, layout, and
                                    production communication materials</li>
                                <li>Delegate tasks to the 7 members of the design team and provide counsel on all
                                    aspects of the project. </li>
                                <li>Supervise the assessment of all graphic materials in order to ensure quality and
                                    accuracy of the design</li>
                                <li>Oversee the efficient use of production project budgets ranging from $2,000 -
                                    $25,000</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Graphic design specialist</h4>
                            <h5>2017 - 2018</h5>
                            <p><em>Stepping Stone Advertising, New York, NY</em></p>
                            <ul>
                                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations,
                                    and advertisements).</li>
                                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                                <li>Created 4+ design presentations and proposals a month for clients and account
                                    managers</li>
                            </ul>
                        </div> -->
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
                        ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/sirojweb.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/sirojweb.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="https://photolife2.netlify.app/" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                            <h4 style="padding: 10px; text-align: center;">ProMX website</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/shoxmakonweb.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/shoxmakonweb.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="http://azimjondeveloper.pythonanywhere.com/" target="_blank"
                                    title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                            <h4 style="padding: 10px; text-align: center;">Shoxmakon Restauran website</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/shoxmakonbot.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/shoxmakonbot.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="https://t.me/Restauran_sen_message_bot" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                            <h4 style="padding: 10px; text-align: center;">Shoxmakon Telegram bot</h4>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>You will definitely be satisfied with the services we offer you. Because our team consists of
                        Professional programmers.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-earth"></i></div>
                        <h4 class="title"><a href="">Website creation</a></h4>
                        <p class="description">If you want to not only introduce yourself to your country but the whole
                            world wants to see you, of course the website will help you.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-brand-android-robot"></i></div>
                        <h4 class="title"><a href="">Create a telegram bot</a></h4>
                        <p class="description">If you want to make a lot of money buying your products easily via
                            telegram bot, telegram bot will help you.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-designbump"></i></div>
                        <h4 class="title"><a href="">UX/ UI Designer</a></h4>
                        <p class="description">If you are interested in how to design it before you create your own
                            website, you definitely need UX / UI Designers.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-ui-settings"></i></div>
                        <h4 class="title"><a href="">Computer repair</a></h4>
                        <p class="description">You need a master to repair a personal computer or a computer in a public
                            enterprise, so hurry up, our masters are ready to help you</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-camera"></i></div>
                        <h4 class="title"><a href="">Camera installation</a></h4>
                        <p class="description">It’s time to fight for your own safety. Now your security will be under
                            constant surveillance with surveillance cameras.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon"><i class="icofont-tasks-alt"></i></div>
                        <h4 class="title"><a href="">CRM Creation</a></h4>
                        <p class="description">Keep track of leads in a CRM, not in your head. How can sales automation
                            help you sell more in less time?</p>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->



        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Share your thoughts with us. Your opinion is important to us. It is an honor for us to serve
                        people like you.</p>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Tashkent Region Yangiyul city</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>www.azim777.com@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+99899 409 01 29</p>
                            </div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5054.875761953641!2d69.06171041824078!3d41.12039745652341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1627911395784!5m2!1sru!2s"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">First name</label>
                                    <input type="text" name="firstName" class="form-control" id="name"
                                        data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Last name</label>
                                    <input type="text" name="lastName" class="form-control" id="name"
                                        data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Phone</label>
                                    <input type="number" class="form-control" name="phone" id="phone"
                                        data-rule="phone" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                        data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required"
                                    data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Azimjon-Developer</span></strong>
            </div>
            <div class="credits">
                Designed by <a href="#">Azimjon-dev</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>